@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 1.5rem;
}

/*HEADER STYLING*************************************************/
header {
  background-color: sienna;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
header > #logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header > #logo > img {
  width: 90%;
}
header > #formWrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 183, 255);
}
header > #menu {
  width: 20%;
}
header > #menu > button {
  width: 40%;
  height: 0.5rem;
}
header > #menu > button::before {
  content: "";
  width: 40%;
  transform: translateY(1rem);
  height: 0.5rem;
}
header > #menu > button::after {
  content: "";
  width: 1rem;
  transform: translateY(-1rem);
  height: 0.5rem;
}

/*FORM STYLING*****************************************************/
form {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
  background-color: white;
  border-radius: 0.3rem;
}
form > input {
  border: none;
  background-color: white;
  width: 80%;
  font-size: 0.8rem;
}
form > button {
  border: none;
  background-color: white;
}
form > #searchCityErrorMessage {
  display: none;
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: white;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.invalidInput {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.invalidInput > #searchCityErrorMessage {
  display: block;
}

/*CONTENT STYLING**************************************************/
#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(174, 223, 255);
}

/*CURRENT WEATHER STYLING******************************************/
#currentWeather {
  width: 100%;
}
#currentTopRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#currentTopRow > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
  max-width: 60px;
}
#currentMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}
#currentMain > h2 {
  font-size: 2rem;
}
#currentTemp {
  font-size: 3.5rem;
}
/*HOURLY WEATHER STYLING*******************************************/
#hourCards {
  width: 100vw;
  background-color: rgb(174, 223, 255);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 0.7rem;
  overflow-x: auto;
}
.hourCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 25%;
}
.hourCard > img {
  width: 100%;
}

/*DAILY WEATHER STYLING********************************************/
#dailyWeather {
  width: 100%;
}
#dailyWeather > div {
  background-color: rgb(174, 223, 255);
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 3rem;
}
#dailyWeather > div > div {
  display: flex;
  width: 18%;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dailyWeather > div > img {
  height: 80%;
}

/*FOOTER STYLING***************************************************/
footer {
  background-color: seagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CLASSES**********************************************************/
.show {
  display: block;
}
.expandRotated {
  transform: rotate(180deg);
}
